body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}
table {
    width: 600px;
    border-collapse: separate;
}
th{
    text-transform: uppercase;
    border-top: 1px solid rgb(27, 202, 255);
    border-bottom: 1px solid rgb(10, 79, 207);
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.5em;
}
th, tr{
    padding: 10px;
}
tr.alternado{
    background-color: #efefef;
}
tr:hover{
    background-color: #c3e6e5;
}
.numero{
    text-align: right;
}

tr, td{
    padding: 7px;
}
th{
    text-transform: uppercase;
}